table{
  width: 100%;
  
  .example-full-width {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    td {
      padding-right: 8px;
    }
  }
}



.NoRow{
  text-align: center;
}


.mat-cell , .mat-header-cell{
  font-family: Verdana,Sans-Serif;
  text-align: center;
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  border-left: 0.5px solid rgba(0, 0, 0, 0.12);
  border-right: 0.5px solid rgba(0, 0, 0, 0.12);
  padding: 5px;
  }

.mat-cell{
    font-size:12px;
}

.mat-header-cell{
  font-weight: bold;
}