<!-- toute information en liste deroulante de ma liste vient de la DB -->

<mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Critére de recherche
        </mat-panel-title>
        <mat-panel-description>
            Saisir les informations de vos recherches
        </mat-panel-description>
    </mat-expansion-panel-header>



    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Nom Dossier</mat-label>
                    <input matInput [(ngModel)]="selectedNomDossier">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Numéro d'étude</mat-label>
                    <input matInput [(ngModel)]="selectedNumEtude">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Zone nom</mat-label>

                    <mat-select [(ngModel)]="selectedZoneNom">
                        <mat-option>
                            -- Zone nom --
                        </mat-option>
                        <mat-option *ngFor="let zn of ensembleZoneNom" [value]="zn">
                            {{zn}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Zone Code</mat-label>

                    <mat-select [(ngModel)]="selectedZoneCode">
                        <mat-option>
                            -- Zone code --
                        </mat-option>
                        <mat-option *ngFor="let zc of ensembleZoneCode" [value]="zc">
                            {{zc}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>


    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Jour</mat-label>
                    <mat-select [(ngModel)]="selectedJJ">
                        <mat-option>
                            -- Jour --
                        </mat-option>
                        <mat-option *ngFor="let j of ensembleJJ" [value]="j">
                            {{j}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Mois</mat-label>
                    <mat-select [(ngModel)]="selectedMM">
                        <mat-option>
                            -- Mois --
                        </mat-option>
                        <mat-option *ngFor="let m of ensembleMM" [value]="m">
                            {{m}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Année</mat-label>
                    <mat-select [(ngModel)]="selectedAAAA">
                        <mat-option>
                            -- Année --
                        </mat-option>
                        <mat-option *ngFor="let a of ensembleAAAA" [value]="a">
                            {{a}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-button (click)="GetServerData()">
                    <mat-icon>search</mat-icon>
                    Recherche
                </button>
            </td>
        </tr>
    </table>
</mat-expansion-panel>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <div fxFlex="100">
        <!-- c'est mieux de le mettre en component comment les autres :) -->


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceCases">

                <!-- _id Column  object id -->
                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                </ng-container>

                <!-- _id_cas Column -->
                <ng-container matColumnDef="id_cas">
                    <th mat-header-cell *matHeaderCellDef> id_cas </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_cas}} </td>
                </ng-container>

                <!-- nom_dossier Column -->
                <ng-container matColumnDef="cas_nom_dossier">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Nom Dossier </th>
                    <td mat-cell *matCellDef="let element"> {{element.cas_nom_dossier}} </td>
                </ng-container>

                <!-- num_etude Column -->
                <ng-container matColumnDef="cas_numEtude">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Num Etude </th>
                    <td mat-cell *matCellDef="let element"> {{element.cas_numEtude}} </td>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef width="10%"> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.cas_JJ}}/{{element.cas_MM}}/{{element.cas_AAAA}}
                    </td>
                </ng-container>

                <!-- zone Column -->
                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef width="15%"> Zone </th>
                    <td mat-cell *matCellDef="let element"> ({{element.cas_zone_code}}){{element.cas_zone_nom}}</td>
                </ng-container>

                <!-- resume_web Column -->
                <ng-container matColumnDef="resume_web">
                    <th mat-header-cell *matHeaderCellDef width="30%"> Résume </th>
                    <td mat-cell *matCellDef="let element"> {{element.cas_resume_web}}</td>
                </ng-container>

                <!-- affiche detail Column -->
                <ng-container matColumnDef="detail">
                    
                    <th mat-header-cell *matHeaderCellDef width="5%"></th>
                    <td mat-cell *matCellDef="let element">                
                        <a text="Affiche Détail" routerLinkActive="list-item-active"  [routerLink]="['/cas',element._id]" >
                            <mat-icon>info</mat-icon>
                        </a>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="NoRow" *ngIf="dataSourceCases.length === 0"><strong>Aucun cas trouvé</strong></div>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="countCases" showFirstLastButtons
                (page)="GetServerData($event)" [pageSize]="pageSize">
            </mat-paginator>
        </div>


    </div>
</div>

<br>
<mat-divider></mat-divider>
<br>